<div class="container single-user">
	<h4 ng-if="mensaje.type === 'create'" class="title-default grey-text users__title row">
		Crear un mensaje
	</h4>
	<h4 ng-if="mensaje.type === 'edit'" class="title-default grey-text users__title row">
		Editar un mensaje
	</h4>
</div>

<div class="container single-user__form">
	<div class="row card-panel">
    <form class="col s12" ng-submit="mensaje.saveMessage()">
      <div class="row">
        <div class="input-field col s12">
          <input ng-model="mensaje.mensajeData.message" type="text" class="validate" placeholder="Mensaje">
        </div>
      </div>
      <div class="row">
 	   </div>
 	   	<button class="btn waves-effect waves-light input-field col s12  m4 l4 offset-m4 offset-l4" type="submit">
	      	<span ng-if="mensaje.type === 'create'">Crear mensaje</span>
	      	<span ng-if="mensaje.type === 'edit'">Actualizar mensaje</span>
	    </button>  	
    </form>
    <div class="row u-alert">
	  	<div class="center-align green-text" ng-if="mensaje.message"> {{ mensaje.message }} </div>
	</div>
  </div>
</div>